numpy
scikit-learn
matplotlib
pandas
seaborn
tensorflow
autokeras
ipykernel
fastapi
sqlalchemy
pymysql
Jinja2
pydantic
ipykernel
ipython
konlpy
httpx
requests
uvicorn[standard]
torch
sqlacodegen
transformers
scikit-learn
python-multipart
